<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.refractored.tasks.simplified" android:versionCode="4" android:versionName="@string/VersionNumber">
<application android:label="Tasks Simplified" android:debuggable="true" android:icon="@drawable/ic_launcher"  android:hardwareAccelerated="true">
    <activity android:name="taskssimplified.MainActivity" android:label="@string/ApplicationName" android:icon="@drawable/ic_launcher" android:launchMode="singleTop" >
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
  </application>
  <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />
  <supports-screens android:xlargeScreens="true" android:largeScreens="true" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET" />
</manifest>